* {
    box-sizing: border-box; 
    /* с учётом margin and padding правильное отображение */
    margin: 0;
    padding: 0;
}

.promo {
    height: 800px;
    background:url('../img/bg/main_bg.jpg') center center / cover no-repeat;
}